.footer-top {
  padding: 110px 0 60px;
  background-color: $color-1;

  &__logo {
    height: 42px;
    display: flex;
    justify-content: center;
    position: relative;

    & + *{
      margin-top: 100px;
    }

    &::after{
      content: '';
      width: 150px;
      height: 2px;
      background-color: $color-5;
      position: absolute;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__list {
    display: flex;
    justify-content: center;

    & + *{
      margin-top: 65px;
    }
  }

  &__list-item  +  &__list-item{
    margin-left: 30px;
  }

  &__list-link {   
    display: inline-flex; 
    font-family: $ff-2;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: $color-3;

    &:hover{
      text-decoration: underline;
    }
  }

  &__contact + *{
    margin-top: 57px;
  }

  &__contact-item {
    text-align: center;
  }

  &__contact-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 2.29;
    color: $color-11;

    &:hover{
      text-decoration: underline;
    }
  }

  &__arrow-top {
    text-align: center;
    animation-name: arrow-top;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}
//==============================
@keyframes arrow-top {
  0%{
    transform: translateY(-2px);
  }
  100%{
    transform: translateY(2px);
  }
}
//==============================
.footer-bottom {
  background-color: $color-2;

  &__text {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    color: $color-12;
  }
}
// ======================
@media (max-width: 991.98px) {
  .footer-top{
    padding: 50px 0;
  }
}
@media (max-width: 730px){
  .footer-top__logo + *{
    margin-top: 60px;   
  }
  .footer-top__list{
   flex-direction: column;
   align-items: center;

   & + *{
    margin-top: 30px;
   }

   &-item + &-item{
    margin-left: 0;
   }

   &-link{
    display: block;
    padding: 10px;
   }
  }

}
@media (max-width: 380px) {
  .footer-top{
    padding: 30px 0;
  }
}
